<!--Contains details about the history of patients,displays from the results table-->

{% extends 'macro.html' %}

{% block title %}History{% endblock %}

{% block content %}
<h2>History Page</h2>
<div>
    <p>Previously uploaded patient data:</p>
    
    <table class = "table table-striped">
        <thead>
            <tr>
                <th scope="col">First Name</th>
                <th scope="col">Surname</th>
                <th scope="col">Gender</th>
                <th scope="col">Age</th>
                <th scope="col">Email Adress</th>
                <th scope="col">Phone Number</th>
                <th scope="col"> Result</th>
                <th scope="col">Action</th>
                
            </tr>
        </thead>
        <tbody>
            {% for patient in patient %}
               <tr>
                <td class="w-25">{{ patient['first_name']}}</td>
                <td class="w-25">{{ patient['surname']}}</td>
                <td class="w-25">{{ patient['gender']}}</td>
                <td class="w-25">{{ patient['age']}}</td>
                <td class="w-25">{{ patient['email_address']}}</td>
                <td class="w-25">{{ patient['phone_number']}}</td>
                <td class="w-25">{{ patient['result']}}</td>
                <td class="w-25"><button type="button" class="btn btn-dark">View </button></td>
                <td class="w-25"><button type="button" class="btn btn-primary">Edit </button></td>

                    
             
            
                
                

               </tr>
            {% endfor %}
        </tbody>
    </table>


{% endblock %}